
@{
    ViewData["Title"] = "Compare";
}

<h1>Compare</h1>
<form method="post">
    <label>String1</label><br />
    <input type="text" name="fp1" /><br /><br />
    <label>String2</label><br />
    <input type="text" name="fp2" /><br /><br />
    <input type="submit" value="Go!" />
</form>

