@{
    ViewData["Title"] = "Home Page";
}



    <h1>@await Html.PartialAsync("Coarusel")</h1>

<div class="row">
    <div class="col-md-4">
        <h2> Всім привіт</h2>
        <p>
          Це курсова робота.
            Над нею працювали:
            Волохович Ігор,
            Кліщ Андрій,
            Шевченко Максим.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Підпишіться на нас!</h2>
        <p>Посилання на наші Гітхаб аккаунти</p>
        <p>
            <a class="btn btn-default" href="https://github.com/YaYeKlinch">YaYeKlinch &raquo;</a>
            <a class="btn btn-default" href="http://github.com/antomys">antomys &raquo;</a>
        </p>
        <p>

            .

        </p>
        <p>

            .

        </p>




    </div>
   



</div>
