@model SuppliersProducts.Models.StudentLabWork
@{
    ViewData["Title"] = "Compare";
}

<h1>Compare</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LabWorkID" class="control-label"></label>
                <select asp-for="LabWorkID" class="form-control" asp-items="ViewBag.LabWorkID"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentID" class="control-label"></label>
                <select asp-for="StudentID" class="form-control" asp-items="ViewBag.StudentID"></select>
            </div>
            <div class="form-group">
                <label asp-for="LabWorkID" class="control-label"></label>
                <select asp-for="LabWorkID" class="form-control" asp-items="ViewBag.LabWorkID1"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentID" class="control-label"></label>
                <select asp-for="StudentID" class="form-control" asp-items="ViewBag.StudentID1"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

